body {
    margin-top: 1%;
    text-decoration: none;
    padding: 0 2em;
}

.topBar {
    display: flex;
    justify-content: space-between;
    padding: 0.5%;
    border-bottom: double;
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 15%;
    background-color: white;
    /*Max z-index so that it is always on the top*/
    z-index: 100;
}

#home {
    height: 80vh;
}

#code,
#intro {
    margin-top: 10%;
    height: 70%;
}

h3{
    margin-top: 10%;
    text-align: center;
    font-weight: bold;
}

h6{
    margin-top: 5%;
    margin-bottom;
}

.spaceTop{
    margin-top: 10%;
}

#downImage{
    width:35%;
    padding-top: 20%;
    text-align: center;
    display: block;
    margin:auto;
}

#code {
    background-color: black;
    text-align: center;
}

h1,
.typewrite {
    margin-top: 25%;
    color: white;
}
